.chart_title_font{
    font-weight: bold;
    font-size: 50px;
}

.chart_button{
    height:30px;
    width:100px;
    background-color:rgba(0,0,255,0.7);
    color: white;
    border-color:rgba(0,0,255,0.7);
    cursor:pointer;
    margin: 10px;
}

.clean_this{
    padding-top: 30px;
    padding-left: 15px;
}